<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClRYAnYeyjM0cc_CpGfn0OQJPNUT3kfH4</string>
	<key>GCM_SENDER_ID</key>
	<string>431371174270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goo.gooGgApplication</string>
	<key>PROJECT_ID</key>
	<string>goo-gg</string>
	<key>STORAGE_BUCKET</key>
	<string>goo-gg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431371174270:ios:c2fc7f7a701b92753bf32f</string>
</dict>
</plist>